/* CSS Styles for Mapping Tool */

.subNav {
  background-color: #7fabc7;
  padding-left: 5%;
  padding-top: 0.5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1%;
}
::ng-deep .mat-tab-header-pagination {
  width: 60px !important;
  z-index: 5000 !important;
}

.wrapper {
  background-color: white;

  margin: auto;
  padding-top: 1%;
  padding-bottom: 2%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;

  font-size: 12px;

  overflow-x: hidden;
}

.ddlWrap {
  position: relative;
  left: 25%;
  font-size: 16px;
}
#contentWrap {
  background-color: #eaf0f2;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  padding-right: 2%;

  display: flex;
  justify-content: left;
}

agm-map {
  height: 450px;
  width: 100%;
}
.claimAssignments {
  width: 45%;
  margin-left: 2%;
}
.forceOverflow {
  max-height: 100px;
}
.mapWrap {
  width: 55%;

  background: white;

  border: none;
}
mat-card {
  border: none;
}
#mapButtonGroup {
  padding-left: 2%;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#filterButton {
  color: white;
  background-color: #4296d3;
  transition: 0.2s background-color ease-out;
  border: none;
}
#filterButton:hover {
  background-color: #003952;
}
.filterButtonGroup {
  display: block;
  margin-right: 2%;
}
.radiusMatCard {
  text-align: center;
  width: 120px;
}
.btn-primary {
  margin-left: 5%;
  margin-top: 10%;
}
#cardData {
  width: 32%;
  height: 130px;
  display: block;

  order: 1;
}
.underMapGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
#submitAssignments {
  margin-top: 85px;
  height: 50px;
  font-size: 14px;

  order: 2;

  background-color: #4296d3;
  color: white;
  text-align: center;
  transition: 0.2s background-color ease-out;
}
#submitAssignments:hover {
  background-color: #003952;
}
.filterPanel {
  width: 95%;
}
.slideToggle {
  margin-top: 2%;
  margin-bottom: 2%;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#filterGroup {
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 3em;
  line-height: 1em;

  border: none;
}

.tableWrap {
  text-align: left;
  width: 100%;
  float: right;

  background-color: white;
  height: auto;
  max-height: 525px;
  overflow-x: hidden;

  -webkit-box-shadow: 1px 1px 3px #656e74;
  box-shadow: 1px 1px 3px #656e74;

  padding: 1%;
}

#assignmentHead {
  color: white;
  background-color: #7fabc7;
  text-align: center;

  padding: 1%;
}

#sliderLabel {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

  display: block;
}
#sliderLabel p {
  font-family: "Abel", sans-serif;
}

mat-slider {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 80%;

  margin-top: 10%;
  margin-bottom: 10%;
}

.tableWrap p {
  font-family: "Montserrat", sans-serif;
}

.adjExpansionPanel {
  height: 50px;
}

.copyrightWrapper {
  text-align: center;

  font-size: 9px;
  line-height: 0.5em;

  padding: 1%;
  padding-top: 1.5%;
  background-color: #236188;
  color: white;
  overflow: hidden;

  -webkit-box-shadow: inset 0px 1px 14px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 1px 14px -6px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 1px 14px -6px rgba(0, 0, 0, 0.75);
}

.copyrightWrapper ul {
  list-style: none;
}
.TOS {
  color: white;
}

.smallScreen {
  display: none;
}

@media screen and (max-width: 1250px) {
  .wrapper {
    padding: 0;
    margin: 0;
    width: 100% !important;
    padding-bottom: 5%;
    float: left;
  }

  #contentWrap {
    width: 100% !important;
    padding: 0;
    margin: 0;
    display: block;
  }
  #filterButton {
    display: none;
  }
  .underMapGroup {
    display: block;
  }
  .mapWrap {
    width: 100% !important;
    padding: 0;
    margin: 0;
    float: left;
  }

  #cardData {
    width: 99%;
    margin-left: 0.5%;
  }
  #submitAssignments {
    width: 99%;
    margin-top: 25px;
    margin-left: 0.5%;
  }
  .claimAssignments {
    width: 100% !important;
    padding: 0;
    margin: 0;
    float: left;
  }
  .radiusMatCard {
    display: none;
  }

  .smallScreen {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  .wrapper {
    padding: 0;
    margin: 0;
    width: 100% !important;
    padding-bottom: 5%;
    float: left;
  }
  #contentWrap {
    width: 100% !important;
    padding: 0;
    margin: 0;
    display: block;
  }
  #filterButton {
    display: none;
  }
  #cardData {
    width: 99%;
    margin-left: 0.5%;
  }
  #submitAssignments {
    width: 99%;
    margin-left: 0.5%;
  }
  .underMapGroup {
    display: block;
  }
  .mapWrap {
    width: 100% !important;
    padding: 0;
    margin: 0;
    float: left;
  }

  .claimAssignments {
    width: 100% !important;
    padding: 0;
    margin: 0;
    float: left;
  }
  .radiusMatCard {
    display: none;
  }

  .smallScreen {
    display: none;
  }
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
